/* Variables y estilos globales */
:root {
    /* Primary color */
    --primary-950: #39A900;
    --primary-900: #4db21a;
    --primary-800: #61BA33;
    --primary-700: #74c34d;
    --primary-600: #88cb66;
    --primary-500: #9cd480;
    --primary-400: #b0dd99;
    --primary-300: #c4e5b3;
    --primary-200: #d7eecc;
    
    /* Secondary color */
    --secundary-1-950: #007832;
    --secundary-1-900: #1A8647;
    --secundary-1-800: #33935B;
    --secundary-1-700: #4DA170;
    --secundary-1-600: #66AE84;
    --secundary-1-500: #;
    --secundary-1-400: #99C9AD;
    --secundary-1-300: #B3D7C2;
    --secundary-1-200: #cce4d6;
    --secundary-2-950: #71277a;
    --secundary-2-900: #7f3d86;
    --secundary-2-800: #8d5295;
    --secundary-2-700: #9c68a2;
    --secundary-2-600: #aa7daf;
    --secundary-2-500: #b893bd;
    --secundary-2-400: #c6a9ca;
    --secundary-2-300: #dabed7;
    --secundary-2-200: #e3daea;
    --secundary-3-950: #00304d;
    --secundary-3-900: #1a455f;
    --secundary-3-800: #335971;
    --secundary-3-700: #4d6e82;
    --secundary-3-600: #668394;
    --secundary-3-500: #8098a6;
    --secundary-3-400: #99acb8;
    --secundary-3-300: #b3c1ca;
    --secundary-3-200: #ccd6db;
    --secundary-4-950: #fdc300;
    --secundary-4-900: #fdc91a;
    --secundary-4-800: #fdcf33;
    --secundary-4-700: #fed54d;
    --secundary-4-600: #fedb66;
    --secundary-4-500: #fee180;
    --secundary-4-400: #fee799;
    --secundary-4-300: #feedb3;
    --secundary-4-200: #fff3cc;
    
    /* Basic color */
    --white: #ffffff;
    --black: #000000;
    --gray-950: #f6f6f6;
    --gray-900: #e1e1e1;
    --gray-800: #cccccc;
    --gray-700: #b7b7b7;
    --gray-600: #a2a2a2;
    --gray-500: #8d8d8d;
    
    /* Font-family */
    --main-font: Arial, sans-serif;
    --font-size-h1-plus: 4.8rem;
    --font-size-h1: 3.2rem;
    --font-size-h2: 2.4rem;
    --font-size-h3: 2.0rem;
    --font-size-h4: 1.6rem;
    --font-size-h5: 1.4rem;
    --font-size-h6: 1.2rem;

}

/* Reset y estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: 100%;
    margin: 0;
    overflow: hidden; /* Evita el scroll */
}

/* Contenedor principal */
.container {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupa toda la pantalla */
}

/* Sidebar */
.sidebar {
    background-color: #f2f2f2;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 93%;
    left: 0;
    top: 0;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.user-profile {
    text-align: left;
    margin-bottom: 20px;
}

.user-icon {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Menú */
.menu {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.menu-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: var(--white);
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-btn:hover {
    background-color: var(--primary-950);
    color: var(--white);
}

/* Contenido principal */
.main-content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    flex: 1;
    overflow: hidden; /* Evita que el contenido fuerce el scroll */
}
.logo {
    width: 80px; /* Tamaño del logo del SENA */
    height: auto; /* Mantener la relación de aspecto */
}
/* Estilos del slider */
.slider-container {
    width: 80%;
    max-width: 950px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-top: 150px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

/* Botones de navegación */
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.logout-button {
    background-color: var(--white);
    color: var(--primary-950);
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
}

/* Botón de cerrar sesión */
.m-btn {
    position: absolute;
    bottom: 39px;
    background-color: var(--primary-950);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Barra de botones fija en la parte superior */
.top-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: fixed;
    top: 0;
    left: 4%;
    width: 100%;
    background-color: var(--primary-950);
    padding: 0% 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Estilo de los botones superiores */
.top-btn {
    background-color: var(--primary-950);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 25px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.top-btn:hover {
    background-color: var(--primary-700);
}
/* Nuevo contenedor para los botones que se moverán hacia abajo */
.bottom-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px; /* Espacio adicional para separarlos de la fila anterior */
    gap: 40px;
}

.bottom-btn {
    width: 220px;
    height: 50px;
    font-size: 16px;
    background-color: var(--green);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.bottom-btn:hover {
    background-color: #4CAF50;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .top-btn, .bottom-btn {
        width: 150px; /* Reducir el tamaño de los botones en pantallas pequeñas */
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-950);
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 5px;
}
/* Diseño responsivo */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .main-content {
        margin-left: 200px;
    }
}

@media screen and (max-width: 468px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: static;
    }

    .main-content {
        margin-left: 0;
        padding: 10px;
    }


}
@media (max-width: 600px) {
    .top-buttons {
        flex-direction: column;
        padding: 15px;
    }

    .top-btn {
        width: 100%;
        max-width: 300px;
    }
}
.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    padding: 8.3px;
    background-color: var(--primary-950);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

/* Contenedor del menú desplegable */
.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    min-width: 180px; /* Ajusta el ancho a tu gusto */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.3s ease;
    left: 0;
}

/* Estilo de los botones dentro del menú */
.dropdown-content button {
    width: 100%;
    padding: 15px 20px; /* Aumenta el tamaño de los botones */
    text-align: left;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 16px;  /* Ajusta el tamaño del texto */
    color: black;
    border-bottom: 2px solid #eee; /* Aumenta el grosor de la línea de separación */
    margin-bottom: 10px; /* Añade espacio entre los botones */
    border-radius: 5px; /* Bordes redondeados para los botones */
}

/* Efecto hover de los botones */
.dropdown-content button:hover {
    background-color: var(--primary-200);
}

/* Clase para mostrar el menú */
.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
