/* Variables y estilos globales */
:root {
    /* Primary color */
    --primary-950: #39A900;
    --primary-900: #4db21a;
    --primary-800: #61BA33;
    --primary-700: #74c34d;
    --primary-600: #88cb66;
    --primary-500: #9cd480;
    --primary-400: #b0dd99;
    --primary-300: #c4e5b3;
    --primary-200: #d7eecc;

    /* Secondary colors */
    --secundary-1-950: #007832;
    --secundary-1-900: #1A8647;
    --secundary-1-800: #33935B;
    --secundary-1-700: #4DA170;
    --secundary-1-600: #66AE84;
    --secundary-1-500: #80BC99;
    --secundary-1-400: #99C9AD;
    --secundary-1-300: #B3D7C2;
    --secundary-1-200: #cce4d6;

    --secundary-2-950: #71277a;
    --secundary-2-900: #7f3d86;
    --secundary-2-800: #8d5295;
    --secundary-2-700: #9c68a2;
    --secundary-2-600: #aa7daf;
    --secundary-2-500: #b893bd;
    --secundary-2-400: #c6a9ca;
    --secundary-2-300: #dabed7;
    --secundary-2-200: #e3daea;

    --secundary-3-950: #00304d;
    --secundary-3-900: #1a455f;
    --secundary-3-800: #335971;
    --secundary-3-700: #4d6e82;
    --secundary-3-600: #668394;
    --secundary-3-500: #8098a6;
    --secundary-3-400: #99acb8;
    --secundary-3-300: #b3c1ca;
    --secundary-3-200: #ccd6db;

    --secundary-4-950: #fdc300;
    --secundary-4-900: #fdc91a;
    --secundary-4-800: #fdcf33;
    --secundary-4-700: #fed54d;
    --secundary-4-600: #fedb66;
    --secundary-4-500: #fee180;
    --secundary-4-400: #fee799;
    --secundary-4-300: #feedb3;
    --secundary-4-200: #fff3cc;

    /* Basic colors */
    --white: #ffffff;
    --black: #000000;
    --gray-950: #f6f6f6;
    --gray-900: #e1e1e1;
    --gray-800: #cccccc;
    --gray-700: #b7b7b7;
    --gray-600: #a2a2a2;
    --gray-500: #8d8d8d;

    /* Fonts */
    --main-font: Arial, sans-serif;
    --font-size-h1-plus: 4.8rem;
    --font-size-h1: 3.2rem;
    --font-size-h2: 2.4rem;
    --font-size-h3: 2rem;
    --font-size-h4: 1.6rem;
    --font-size-h5: 1.4rem;
    --font-size-h6: 1.2rem;
}

/* General Styles */
body {
    margin: 0;
    font-family: var(--main-font);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

header .logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: auto;
}

/* Footer */
footer {
    background-color: var(--primary-950);
    color: white;
    text-align: center;
    font-size: 12px;
    width: 100%;
    margin-top: auto;
    padding: 5px 0;
}

/* Imagen flotante */
img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: var(--font-size-h1);
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
/* Sidebar */
.sidebar {
    background-color: #f2f2f2;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}

.user-profile {
    text-align: left;
    margin-bottom: 10px;
}

.user-icon {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.user-profile span {
    color: #28a745;
    font-size: 14px;
}

.menu {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.menu-btn {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: none;
    background-color: var(--white);
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4%;
}

.menu-btn:hover {
    background-color: var(--primary-950);
    color: var(--white);
}

/* Main Content */
.main-content {
    margin-left: 200px;
    padding: 15px;
    flex-grow: 1;
    text-align: center;
}

.main-content h1 {
    font-size: 28px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

/* Form Container (Un poco más pequeño que promedio) */
.form-container {
    max-width: 850px; /* Ancho máximo ligeramente reducido */
    margin: 15px auto; /* Margen ligeramente reducido */
    padding: 30px; /* Padding ligeramente reducido */
    border-radius: 1.2rem; /* Radio del borde ligeramente reducido */
    background-color: var(--secundary-3-400);
    box-shadow: 0 3px 6px var(--secundary-3-950); /* Sombra ligeramente reducida */
}

h2 {
    text-align: center;
    font-size: var(--font-size-h2);
    padding-bottom: 12px; /* Padding inferior ligeramente reducido */
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px; /* Espacio entre elementos del grid ligeramente reducido */
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Margen inferior ligeramente reducido */
    padding: 0 8px; /* Padding horizontal ligeramente reducido */
}

.form-row label {
    min-width: 130px; /* Ancho mínimo ligeramente reducido */
    text-align: right;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-right: 12px; /* Margen derecho ligeramente reducido */
    font-size: 14px; /* Tamaño de fuente ligeramente reducido */
}

input,
select {
    flex: 5;
    padding: 9px; /* Padding ligeramente reducido */
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 14px; /* Tamaño de fuente ligeramente reducido */
}

input:focus,
select:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* Verification Container */
.verification-container {
    background-color: var(--white);
    border: 1.5px solid var(--black);
    border-radius: 12px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    width: 85%;
    max-width: 350px;
    padding: 20px 60px;
    text-align: center;
    margin: 15px auto;
    position: relative;
}

.verification-container p {
    font-size: 12px;
    color: #555;
    margin-bottom: 15px;
}

.verification-container input,
.verification-container button {
    width: 100%;
    padding: 8px;
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.verification-container button {
    background-color: var(--primary-950);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 12px;
}

.verification-container a {
    font-size: 12px;
    color: var(--primary-950);
    text-decoration: none;
}

.verification-container a:hover {
    text-decoration: underline;
}

/* Botones */
.logout-btn,
.back,
.habilitar-btn,
.listar-btn,
.m-btn,
.back_listar,
.back_crear,
.back_actualizar {
    background-color: var(--primary-950);
    color: var(--white);
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin: 0.3%;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.back_crear:hover {
    background-color: var(--secundary-2-950);
    transform: scale(0.98);
}

.logout-btn:hover {
    background-color: var(--secundary-2-950);
    transform: scale(0.98);
}

.logout-btn {
    bottom: 15px;
    right: 5px;
}

.back,
.back_listar,
.back_crear,
.back_actualizar {
    bottom: 2%;
    right: 45%;
    font-size: 12px;
    padding: 6px;
}

/* Tarjetas de usuario */
.user-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.user-icon img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 8px;
}

.container_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

/* Formulario de Reporte */
.report__form .form_group {
    margin-bottom: 15px;
}

.report__form label {
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
    color: #333;
}

.report__form textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 8px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.container_rep {
    background-color: var(--white);
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: static;
    }

    .main-content {
        margin-left: 0;
        padding: 10px;
    }

    .form-container {
        max-width: 90%; /* Ligeramente más pequeño que antes en responsive */
        margin: 10px auto;
        padding: 10px; /* Padding más pequeño en responsive */
    }

    .form-grid {
        grid-template-columns: 1fr;
        gap: 10px; /* Espacio entre elementos del grid más pequeño en responsive */
    }

    .form-row {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px; /* Margen inferior más pequeño en responsive */
        padding: 0;
    }

    .form-row label {
        text-align: left;
        margin-bottom: 3px;
        margin-right: 0;
        font-size: 12px; /* Tamaño de fuente más pequeño en responsive */
    }

    input,
    select {
        font-size: 12px; /* Tamaño de fuente más pequeño en responsive */
        padding: 6px;
    }

    .logout-btn,
    .back,
    .habilitar-btn,
    .listar-btn,
    .m-btn,
    .back_listar,
    .back_crear,
    .back_actualizar {
        position: static;
        margin: 8px auto;
        display: block;
        font-size: 12px;
        padding: 6px;
    }

    .user-card,
    .verification-container {
        width: 90%;
        padding: 10px;
        margin: 10px auto;
    }
}
