:root {
    --primary-color: #004080;
    --secondary-color: #e6f0ff;
    --text-color: #333;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: var(--primary-color);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    font-weight: bold;
}

select {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}
.btn-ver {
    background-color: #28a745; /* Verde */
    color: white;
    border: 2px solid #218838;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 0.85em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn-ver:hover {
    background-color: #218838;
}